@media (min-width: 992px) {
    .fighter{
        width: 33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fighter{
        width: 50%;
    }
}

@media (max-width: 767px){
    .fighter{
        width: 100%;
    }
}

.fighter{
    display: inline-block;
    text-align: center;
}

.image>img{
    max-width: 300px;
    max-height: 300px;
}